* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    width: 400px;
    height: 85%;
    background-color: lightpink;
    text-align: center;
    padding: 25px 35px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

nav .circle {
    border-radius: 50%;
    background-color: #fff;
    color: #f53192;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 5px 10px rgb(255, 26, 26, 0.22);
}

.image .music-image {
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgb(255, 26, 26, 0.22);
}

.image .text {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.image .para {
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}

.audio {
    position: relative;
    /* background-color: yellow; */
}

.audio p.start {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    font-size: 14px;
    font-weight: 600;
    color:#f53192
}

.audio p.end {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    font-size: 14px;
    font-weight: 600;
    color: #f53192;
}

.audio #progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: #f53192;
    margin: 20px 0;
    cursor: pointer;
}

.audio #progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: #f53192;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgb(255, 26, 26, 0.22);
    border-radius: 50%;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .icons {
    color: #f53192;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 10px 20px rgb(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls .icons:nth-child(2) {
    transform: scale(1.5);
    background-color: #f53192;
    color: #fff;
}